<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gsu.cs.nfcencryption" >

    <!--
        see http://www.developer.com/ws/android/nfc-programming-in-android.html for reference (note
        that the minimum API version must be set as 10 in build.gradle (Module: app) for this to work,
        and that classes being used from the nfc package require a minimum API version 14):
    -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-permission android:name="android.permission.NFC" />

    <!--
        About the "ic_launcher" (android:icon) used for this application:

        i. This icon was found at:  http://findicons.com/icon/177248/unlock_yellow?id=177475
        ii. This icon is under a "Creative Commons Attribution No Derivatives" license
        ii. This icon was created by Jack Cai, attributed to:  http://www.doublejdesign.co.uk/
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter android:label="@string/app_display_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".password.RemovePasswordActivity"
            android:label="@string/title_activity_remove_password" >

            <!-- see https://developer.android.com/guide/topics/connectivity/nfc/nfc.html#tech-disc for reference: -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".password.UpdatePasswordActivity"
            android:label="@string/title_activity_update_password" >

            <!-- see https://developer.android.com/guide/topics/connectivity/nfc/nfc.html#tech-disc for reference: -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".password.TestPasswordActivity"
            android:label="@string/title_activity_test_password" >

            <!-- see https://developer.android.com/guide/topics/connectivity/nfc/nfc.html#tech-disc for reference: -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
    </application>

</manifest>
